@model Department
@{
    ViewData["Title"] = "Details";
}
<h1 style="color:darkblue">Update Department</h1>
<br />
<br />
<div >
    <div>
        <label asp-for="Code" class="col-form-label"></label>
        <input asp-for="Code"class="form-control" readonly/>
    </div>
    <div>
        <label asp-for="Name" class="col-form-label"></label>
        <input asp-for="Name" class="form-control" readonly />
    </div>
    <div>
        <label asp-for="DateOfCreation" class="col-form-label"></label>
        <input asp-for="DateOfCreation" class="form-control" readonly />
    </div>
    <br />
    <br />
    <a asp-action="Edit" class="btn btn-warning">Edit</a>    
    <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
</div>