@model ResetePasswordViewModel
@{
    ViewData["Title"] = "ResetePassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="ResetePassword" method="post">
			
			<input class="text" type="password" asp-for="Password" placeholder="Password" required="">
			<input class="text w3lpass" type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
			
			<input type="submit" value="Resete Password">
		</form>
	</div>
</div>
