@model SignInViewModel
@{
    ViewData["Title"]="SignIn";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="main-agileinfo">
	<div asp-validation-summary="All"></div>
	<div class="agileits-top">
		<form asp-action="SignIn" method="post">
			

			<input class="text email" type="email" asp-for="Email" placeholder="Email" required="">
			<input class="text" type="password" asp-for="Password" placeholder="Password" required="">
			<div class="wthree-text">
				<label class="anim">
					<input type="checkbox" asp-for="Rememberme" class="checkbox" required="">
					<span>Remember me</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SIGNIN">
		</form>
		<p>Don't have an Account? <a asp-action="SignUp"> Register Now!</a></p>
		<p>Don you Forget Password? <a asp-action="ForgetPassword">ForgetPassword!</a></p>

	</div>
</div>